@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Baloo+2:wght@400..800&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
.main .msg{
   font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
}
.socialhandels{
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
}

.box{
  width: 40%;
  display: flex;
  justify-content: center;
}

